@import url('https://rsms.me/inter/inter.css');

.articles__block {
	text-align: end;
}

.articles__header {
	display: flex;
	align-items: center;
	margin-top: 19px;
	height: 20px;
	cursor: pointer;
}

.articles__heading {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	color: #1890FF;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 13px;
}

.articles_paragraph {
	margin: -30px 240px 0 19px;
	width: 100%;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
}

.articles__user {
	display: flex;
	margin-top: 15px;
	margin-right: 14px;
	align-items: center;
	height: 50px;
}

%like__scss {
	border: none;
	background-color: inherit;
	outline: none;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.articles__unlike {	
	@extend %like__scss;
	background-image: url('../../static/img/Like.svg');
}

.articles__like {
	@extend %like__scss;
	background-image: url('../../static/img/LikeRed.svg');
}

.articles__unlike:hover {
	outline: none;
	cursor: pointer;
	background-image: url('../../static/img/Like.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.articles__userName {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}

.articles__date {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.5);
}

.articles__user-photo {
	margin-left: 12px;
	width: 40px;
	height: 40px;
}

.articles__container {
	margin-right: auto;
	margin-left: 19px;
}

.articles__tag {
	height: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.5);
	background-color: inherit;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	box-sizing: border-box;
	padding: 2px 6px 3px 5px;
	margin-top: 5px;
	outline: none;
	margin-right: 8px;
}

.articles__tag:hover {
	outline: none;
	cursor: pointer;
}

.articles__oneArticle {
	display: flex;
	flex-wrap: wrap;
}