@import url('https://rsms.me/inter/inter.css');

.main__header {
	display: flex;
	height: 80px;
	background: #FFFFFF;
	font-family: Inter;
	align-items: center;
}

.main__heading {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}

.main__button {
	border: none;
	font-family: Inter;
	background-color: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	margin-right: 20px;
	color: rgba(0, 0, 0, 0.85);
}

.main__button:focus, .main__button:hover {
	color: rgba(0, 0, 0, 0.85);
	cursor: default;
}

.main__buttonActive {
	border: 1px solid #52C41A;
	color: #52C41A;
	height: 51px;
	border-radius: 5px;
	width: 109px;
	text-align: center;
	vertical-align: middle;
	line-height: 51px;
}

.main__buttonActive:focus, .main__buttonActive:hover {
	color: #52C41A;
	cursor: pointer;
}

.userImage {
	width: 46px;
	height: 46px;
	margin-right: 27px;
	margin-left: 15px;
}

.articleCreate {
	font-family: Inter;
	color: #52C41A;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 31.1px;
	border: 1px solid #52C41A;
	background-color: inherit;
	box-sizing: border-box;
	border-radius: 5px;
	width: 112.23px;
	height: 31.1px;
	margin-right: 26px;
	text-align: center;
}

.userName {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.85);
}

.logOut {
	border: 1px solid rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	border-radius: 5px;
	width: 109px;
	height: 51px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	font-family: Inter;
	background-color: inherit;
	margin-right: 22px;
	cursor: pointer;
}

.heading__link {
	margin: auto auto auto 22px;
}