.header {
	display: flex;
	height: 80px;
	background: #FFFFFF;
	font-family: Inter;
	align-items: center;
}

.heading__link {
	margin: auto auto auto 22px;
}

.header__header {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}